.activityContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
