.card {
    flex: 1 1 calc(20% - 20px); /* Ensure each card covers about 20% of the container width, minus gaps */
    margin: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; /* Ensure the child elements are positioned relative to the card */
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for transform and opacity */
}

.card:hover .cardImage {
    opacity: 0.8; /* Decrease opacity on hover */
    transform: scale(1.15); /* Slightly zoom the image */
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 20px); /* One card per row on small screens */
    }
}
